<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <script src="/socket.io/socket.io.js"></script> <!-- Para trabajar con sockets -->
</head>
<body>
  {{{body}}} <!-- Aquí se carga el contenido de cada vista -->
</body>
</html>